@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
.Navbar {
  width: 99.9%;
  height: 30px;
  border: 1px #000 solid;
  position: absolute;
}
.anim {
  height: calc(100vh - 152px) !important;
}
.Livepeerlogo {
  width: 10rem;
  position: absolute;
  top: 150%;
  left: 45%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
  z-index: 100 !important;
}
.Musiclogo {
  width: 5rem;
  position: absolute;
  top: 150%;
  left: 5%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
  z-index: 1000000 !important;
}
.Zoralogo {
  width: 10rem;
  position: absolute;
  top: 150%;
  left: 20%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
  z-index: 1000000 !important;
}
.Polygonelogo {
  width: 10rem;
  position: absolute;
  top: 150%;
  right: 5%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}
.nftstoragelogo {
  width: 10rem;
  position: absolute;
  top: 150%;
  right: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
  z-index: 1000000 !important;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.absolute {
  position: absolute;
  width: 100%;
}
.herotext h1 {
  margin: auto;
  width: 90%;
  padding-top: 3rem;
  color: white;
  font-size: 3rem;
  text-align: center;
  z-index: 1000001 !important;
}
.world-id {
  margin: 27px 322px;
}
.flex {
  display: flex;
}
.Animation {
  background-color: #fff;
}
.tag-line {
  z-index: 1000001 !important;
}
.tag-line h1 {
  line-height: 3;
  font-size: 1.3rem;
  color: #ff0088;
  text-align: center;
  z-index: 1000001 !important;
}
.other {
  height: 100vh;
  background-color: #030303;
}
.object {
  top: 329px;
  top: 329px;
  left: -257.8944396972656px;
  width: 509px;
  height: 514px;
  transform: matrix(-0.05, 1, -1, -0.05, 0, 0);
  /* UI Properties */
  background: transparent url("") 0% 0% no-repeat padding-box;
  opacity: 0.58;
}
/*

Color Pallete
  #EF84F5
  #15265C
  #2EE09A
  #FFFFFF
*/
.Login-Button {
  display: inline-table;
}

.ocean {
  height: 300px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 400%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}
.bGxpSv.bGxpSv.bGxpSv .dFKcRz {
  z-index: 99999999 !important;
}
.overlay {
  z-index: 9999999 !important;
}
.relay {
  position: absolute;
  z-index: 999999999999999999999999999999 !important;
}
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-50%);
  }
}
