// $green-color: #2ee09a;
$green-color: #ff0083;
$gradient-color: linear-gradient(
  90deg,
  #ff3ba0,
  #eb0079,
  #ff0083,
  #ffc4e2,
  #ff3ba0,
  #eb0079,
  #b1005b
);

.profile-main-container {
  padding-top: 2rem;
  max-width: 70%;
  width: 70%;
  margin: auto;
  height: auto;

  .profile-first-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 30px;
    // margin-bottom: 50px;
    padding-bottom: 30px;
    // border-bottom: 2px solid #2c3033;
    border-radius: 20px;
    background: rgba(35, 35, 35, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    button.profile-edit-button {
      margin: 1rem 0;
      // background: none;
      border: 1px solid #ff0083;
      border-radius: 10px;
      color: white;
      font-size: 0.8rem;
      font-weight: 600;
      padding: 0.5rem 1rem;

      background: $gradient-color;
      background-size: 600% 200%;
      animation: gradient 4s linear infinite;
      animation-direction: alternate;
    }
    @keyframes gradient {
      0% {
        background-position: 0%;
      }
      100% {
        background-position: 100%;
      }
    }
    button.profile-edit-button:hover {
      cursor: pointer;
    }
    .profile-first-section-inside-one {
      display: flex;
    }
    .profile-image {
      //   margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-right: 4rem;

      #profile-image-id {
        margin: 0;
        // border: 5px solid $green-color;
        // border-radius: 50%;
      }
    }
    .profile-info {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;

      h1 {
        font-size: 1.5rem;
        border-left: 4px solid $green-color;
        padding-left: 20px;
        margin: 0;
      }

      .profile-nft-info {
        font-size: 1rem;
        // padding: 1rem 0;
        font-weight: 600;
        padding: 5% 0;
        p {
          margin: 0%;
          padding: 5% 0;
        }
      }

      p {
        text-align: left;
      }
      button.profile-btn {
        margin: 1rem 0;
        border: 1px solid #ff0083;
        border-radius: 10px;
        color: white;
        font-size: 0.8rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
        background: $gradient-color;
        background-size: 600% 200%;
        animation: gradient 4s linear infinite;
        animation-direction: alternate;
      }
      button.profile-btn:hover {
        background: #ff0083;
        border-radius: 10px;
        color: white;
        cursor: pointer;
      }
    }
  }
  .profile-second-section {
    margin-top: 20px;

    button.profile-second-btns {
      background: none;
      border: none;
      color: white;
      font-size: 1rem;
      font-weight: 700;
      // padding: 0.5rem 1rem;
      padding: 0 1rem 1rem 1rem;
      margin-right: 1rem;
    }
    button.profile-second-btns:last-of-type {
      margin-right: 0;
    }
    button.profile-second-btns:hover {
      background: none;
      border: none;
      color: #ff0083;
      cursor: pointer;
    }

    button.active {
      color: #ff0083;
      border-bottom: 2px solid #ff0083;
    }
    button.active:hover {
      background: none;
      border: none;
      color: #ff0083;
      cursor: pointer;
      border-bottom: 2px solid #ff0083;
    }
  }
}
